#root {
  border: 1px solid black;
}

#root2 {
  border: 1px solid black;
}

/* .staticcontent { */
/*   background: lightgray; */
/* } */

#external1 {
  border: 1px solid black;
}

#external2 {
  border: 1px solid black;
}

#external3 {
  border: 1px solid black;
}

.externalrouter {
  background: lightgray;
}

#rootForRouter {
  padding: 1em;
  background: darkgray;         
}
